<div class="container indexpage">
    <div class="indexupperside">
        <h1>Lucky Duck</h1>
        <p>
            it make's your life easier
        </p>
        <button><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">View more</a></button>
    </div>
    <hr />
    <div class="minitable">
        <table>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <tr>
                <td>13:00</td>
                <td>13:00</td>
                <td>13:00</td>
                <td>13:00</td>
                <td>13:00</td>
                <td>13:00</td>
                <td>13:00</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>15:00</td>
                <td>15:00</td>
                <td>15:00</td>
                <td>15:00</td>
                <td>15:00</td>
                <td>15:00</td>
            </tr>
            <tr>
                <td>17:00</td>
                <td>17:00</td>
                <td>17:00</td>
                <td>17:00</td>
                <td>17:00</td>
                <td>17:00</td>
                <td>17:00</td>
            </tr>
        </table>
    </div>
    @*aq aris popup*@
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Book it now</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name/Lastname</label>
                            <input type="text" id="recipient-name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Your Id/Passport number</label>
                            <input type="text" id="recipient-name" placeholder="Id/Passport number" required>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Choose Date</label>
                            <input type="date" id="recipient-name" required>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Choose time</label>
                            <input type="text" id="recipient-name" placeholder="Time" required>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">City</label>
                            <select>
                                <option>Telavi</option>
                                <option>Signagi</option>
                                <option>Tsnori</option>
                                <option>Gurjaani</option>
                                <option>Dedoplis tskalo</option>
                                <option>Tsinandali</option>
                                <option>Lagodekhi</option>
                                <option>Khvareli</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Your Email address</label>
                            <input type="email" id="recipient-name" placeholder="Email" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" onclick="Clearfunction()">Book</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <button type="button" data-toggle="modal" data-target="#exampleModal">Book now </button>
</div>




