<div class="container privacystyle">
    <div class="headerPrivacy">
        <h1>LuckyDuck</h1>
    </div>
    <p>
        Lucky duck is a StartUp, which helps you to have a great experience while traveling around Georgia.
        it helps you to find a schedule of minibuses, and helps you to book your route online
    </p>
</div>